#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.todoListWrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  box-shadow: 1px 1px 11px 1px rgba(0,0,0,0.3);
  border-radius: 12px;
  padding: 40px;
}

/* Heading */
.headingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.headingParagraph {
  font-size: 16px;
}

.headingButtons p {
  font-size: 12px;
  margin-left: 24px;
  display: inline;
}

.headingButtons strong {
  font-size: 12px;
  margin-left: 4px;
  text-transform: capitalize;
}

/* Input */
.inputWrapper {
  display: flex;
  width: 100%;
}

.componentInput {
  width: 100%;
  margin-right: 8px;
}

/* List */
.listWrapper {
  width: 100%;
  margin-top: 24px;
  margin-left: 16px;
  padding-bottom: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.listItem {
  height: 32px;
  padding-left: 8px;
  width: 95%;
}

.listItem .checkbox {
  width: 100%;
  height: 100%;
  padding-top: 6px;
}

.listItem:hover {
  background-color: rgba(0,0,0, .1);
  border-radius: 4px;
}

/* Clear all button */
.clearAllButtonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
